node_modules
.DS_Store
dist
dist-ssr
*.local
/dist*
*-lock.*
pnpm-debug
.idea/modules.xml
.idea/prettier.xml
.idea/vcs.xml
.idea/vue-element-plus-admin.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/eslint.xml
.idea/.gitignore
